.pregunta {
    padding-bottom: 1em;
}
.pregunta:nth-child(odd){
    background-color: #f8f8f8;
}

.pregunta-texto {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}
.pregunta-texto i {
    width: 2em;
    height: 2em;
    color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
    display: flex;
    margin-top: 1em;
    /* margin-bottom: 1em; */
}
.pregunta-texto h4 {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pregunta-texto:first-child {
    margin-top: 2vh;
}

.pregunta-cont{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
/* Chrome, Safari, Edge, Opera */
.pregunta-cont input::-webkit-outer-spin-button,
.pregunta-cont input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.pregunta-cont input[type=number] {
    -moz-appearance: textfield;
}
.pregunta-cont div {
    padding: 0.8em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.pregunta-cont input {
    background-color: #ffffffdd;
    border-radius: 5px;
    border: solid grey 2px;
    font: inherit;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: right; 
    width: 5em;
}
.pregunta-cont p {
    text-align: center;
    margin-top: 1em;
}
.pregunta-cont i {
    font-size: 20vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

.parte {
    border-radius: 10px;
}

.sumas {
    text-align: right;
    width: 5em;
    padding-right: 0.2em;
    border-bottom: solid 1px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.mover {
    cursor: move;
    width: 3em;
    height: 3em;
    align-self: center;
    text-align: center;
    user-select: none;
    margin: 0;
    background-color: #d5d7e4;
    border-radius: 100%;
}
.mover:hover {
    transform: scale(1.1);
}

.stiff {
    user-select: none;
    pointer-events: none;
}
.stiff:hover {
    transform: none;
}

.incorrect {
    background-color: #f4c1c1;
}

.drag-start {
    opacity: 0.4;
}

.drag-enter {
    background-color: #D0B8ED;
    opacity: 0.8;
}

.dropped {
    background-color: #D0B8ED;
}