@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&display=swap');
* {
    text-align: center;
}

em, .sign {
    font-style: unset;
    font-weight: bold;
    color: #000000;
}

b {
    color:#0C366B;
    font-size: large;
}

summary {
    cursor: pointer;
}

.question {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    background-color: #f8dee2;
}
.question:nth-child(even){
    background-color: #f5f3e4;
}


.tries {
    display: flex;
    flex-direction: row;
}

.question-text {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 1em;
}
.question-text i {
    width: 2em;
    height: 2em;
    color: white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
    display: flex;
    margin-bottom: 1em;
    background-color: #899e9f;
    margin-right: 0.7em;
    margin-left: 0.7em;
}
.question-text h4 {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-text:first-child {
    margin-top: 1.5vh;
}

.question-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0;
    margin-bottom: 0.5em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

select{
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
}
.question-content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
input {
    background-color: #ffffffdd;
    border-radius: 0.3em;
    border: solid grey 0.09em;
    font: inherit;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: right; 
    width: 5em;
    align-self: flex-end;
}
.question-content i {
    font-size: 20vh;
    padding: 2vh 4vh;
}

.part {
    border-radius: 10px;
    font-size: 1.2em;
    padding: 0.8em;
    margin: 0.5em 1em;
    align-items: flex-end;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
}

.regular {
    text-align: right;
    border-bottom: solid black 0.05em;
    margin-bottom: 0.23em;
    padding-right: 0.29em;
    padding-bottom: 0.1em;
    align-self: flex-end;
}

.divisions {
    border-left: solid 1px;
    border-top: solid 1px;
    padding-left: 0.29em;
    padding-right: 0.29em;
    padding-top: 0.29em;
    margin-top: 0.2em;
    text-align: right;
}

.sign {
    align-self: flex-end;
    padding: 0.3em;
}

.second {
    margin-top: 0.23em;
    align-self: flex-end;
    margin-right: 0.6em;
    width: 3.4em;
}

.addition {
    padding-bottom: 0.23em;
    margin-bottom: 2.3em;
}

.mover {
    display: flex;
    cursor: move;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    align-self: center;
    user-select: none;
    margin: 0;
    background-color: #d5d7e4;
    border-radius: 100%;
    margin-bottom: 2em;
}
.mover:hover, .draggable:hover {
    transform: scale(1.1);
}

.stiff {
    user-select: none;
    pointer-events: none;
    cursor: default;
}
.stiff:hover {
    cursor: default;
    transform: none;
}

.incorrect {
    background-color: #f998;
}

.drag-start {
    opacity: 0.4;
}

.drag-enter {
    background-color: #D0B8ED;
    opacity: 0.8;
    cursor: none;
}

.mover-dropped {
    background-color: #D0B8ED;
}

.droppable {
    background-color: #d5d7e4c2;
    height: 1.5em;
    width: 4em;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 0.18em;
    align-self: flex-end;
    border: solid #0000002b;
}

.draggable {
    cursor: grab;
    align-items: center;
}

.verify {
    background-color: #9e1a96;
    color: white;
    font: inherit;
    border: none;
    height: 2em;
    border-radius: 2em;
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5em;
}
.verify:hover {
    background-color: #85177d;
}

.check-score {
    background-color: #25ac8a;
    width: 10em;
    margin-top: 1em;
}
.check-score:hover {
    background-color: #219477;
}

.center {
    display: flex;
    justify-content: center;
}

::marker {
    color: #0C366B;
}

.score {
    font-weight: bold;
    padding-top: 0.4em;
}

.per-parts-input {
    margin: 0.2em;
    width: 2em;
    text-align: center;
}

.cont-group {
    align-items: center;
    padding: 1em;
    width: 25em;
}

.decomp-text {
    margin: 0.15em;
    margin-left: 0.85em;
    width: 8em;
    text-align: left;
}
.decomp-input {
    width: 3em;
    text-align: center;
}

.round {
    border-radius: 10px;
    padding: 0.8em;
    padding-top: 0;
    margin: 0.5em 1em;
    align-items: center;
}

.round-input {
    margin-top: 0.8em;
    text-align: center;
    width: 5em;
    align-self: unset;
}

table {
    width: 80%;
}

td, th {
    border: solid 1px;
}

table input {
    align-self: center;
    margin-top: 0.8em;
}

.check-grade {
    width: 10em;
    margin-bottom: 1.5vh;
    background-color: darkcyan;
}
.check-grade:hover {
    background-color: rgb(0, 124, 124);
    /* background-color: #0C366B; */
}

#total-score {
    margin-bottom: 2vh;
    font-size: 1.2em;
    font-weight: bold;
}